@import "./base.css";

#app {
  width: 100%;
  height: 100%;
  font-weight: normal;
}

img.logo {
  height: 150px;
  width: auto;
}

a {
  text-decoration: none;
}

.explosions_l,
.explosions_r {
    overflow: visible;
}
